    /* General */
@font-face {
  font-family: 'arcadeclassicregular';
  src: url('./fonts/arcadeclassic-webfont.woff2') format('woff2'),
       url('./fonts/arcadeclassic-webfont.woff') format('woff'),
       url('./fonts/arcadeclassic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h4, h5, a, span, p {
  font-family: 'arcadeclassicregular';
  letter-spacing: 2px;
  color: white;
}

h1 {
  font-size: 7em;
  margin: 0 0 50px 0;
}

h2, span {
  font-size: 2em;
}

h3 {
  font-size: 0.9em;
  margin: 0;
}

h4 {
  font-size: 1.2em;
}

a {
  font-size: 1.5em;
  text-decoration: none;
}

p {
  font-size: 0.7em;
  color: rgba(255, 0, 21, 0.767);
}

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    /* Top section */

  header {
    margin: 15px 0 10px 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

  #logo {
    width: 200px;
}

  /* Left section */

.score-container {
  width: 25%;
  height: 550px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.score-container h2 {
  margin: 20px 0 0 0;
}

.score-container img {
  width: 25px
}

  /* Middle section */

  #start-game  {
    border: 1px solid white;
    border-radius: 10px;
    width: 30%;
    height: 300px;
    margin: 0;
    background-color: black;
    z-index: 3;
    visibility: visible;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .normal {
    width: 50%;
    height: 550px;
    margin: 0;
    background-image: url('./images/grid-st-blue.png');
    background-position: center;
    background-size: 1450px;
    text-align: center;
    z-index: 1;
  }

  .upside-down {
    width: 50%;
    height: 550px;
    margin: 0;
    background-image: url('./images/grid-upside-down.png');
    background-position: center;
    background-size: 1450px;
    text-align: center;
    z-index: 1;
  }

  #particles_upsidedown {
    width: 50%;
    height: 550px;
    z-index: 2;
    position: absolute;
    visibility: hidden;
  }

  #game-over {
    width: 50%;
    height: 550px;
    margin: 0;
    background-color: black;
    z-index: 3;
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #game-over div {
    width: 200px;
    display: flex;
    justify-content: space-around;
  }

  .block {
    width: 25.5px;
    height: 24.5px;
    display: inline-block;
    vertical-align: top;
  }
  
  .waffle {
    background-image: url('./images/waffle-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
  }

  .portal {
      background-image: url('./images/portal.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 22px;
  }
  
  #eleven {
    background-image: url('./images/eleven-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
  }
  
  #demogorgon {
    background-image: url('./images/demogorgon-icon2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 37px;
  }

  /* Right section */
  
  #legenda {
    width: 25%;
    height: 550px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .heads {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .others {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mike {
    width: 50px;
    margin: 18px 10px 0 0;
  }

  #will {
    width: 45px;
    margin: 18px 10px 0 0;
  }

  #dustin {
    width: 55px;
    margin: 18px 10px 0 0;
  }

  #lucas {
    width: 50px;
    margin: 18px 10px 0 0;
  }

    /* Bottom section */

footer { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer div {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
