html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .container {
    width: 50%;
    border: 1px solid white;
  }

  header {
      width: 100%;
      margin: 30px 0;
      display: flex;
      justify-content: center;
      align-content: center;
  }

  .logo {
      width: 400px;
  }


