@font-face {
  font-family: 'arcadeclassicregular';
  src: url('./fonts/arcadeclassic-webfont.woff2') format('woff2'),
       url('./fonts/arcadeclassic-webfont.woff') format('woff'),
       url('./fonts/arcadeclassic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 9;
  background-color: black;
}

h2, h3, h4, p, a {
  font-family: 'arcadeclassicregular';
  letter-spacing: 2px;
  animation: blink 1.5s infinite;
}

h2 {
  margin: 0;
  font-size: 1.9em;
}

#enter {
  color: rgba(255, 0, 21, 0.767);
  text-shadow: 0 0 3px #FF0000;
}

h3 {
  color: ivory;
  font-size: 1.7em;
  margin: 40px 0 0 0;
  text-shadow: 0 0 3px white;
}

h4 {
  color: ivory;
  font-size: 1em;
  margin: 0;
  text-shadow: 0 0 3px white;
}

p {
  color: ivory;
}

a {
  text-decoration: none;
  word-spacing: 10px;
}

  @keyframes blink {
      0% { text-shadow: 0 0 3px }
      50% { text-shadow: none; }
      100% { text-shadow: 0 0 3px }
  }

  #start-page {
    background-color: black;
    width: 100%;
    height: 100vh;
    z-index: 3;
    visibility: visible;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #header-1 {
      width: 100%;
      margin: 30px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .logo {
      width: 400px;
  }

  .cast {
    width: 470px;
    -webkit-filter: drop-shadow(3px 3px 3px rgb(2, 2, 155));
    filter: drop-shadow(3px 3px 3px  rgb(2, 2, 155));
  }

  .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .controls {
    height: 160px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .controls img {
    width: 300px;
    -webkit-filter: drop-shadow(2px 2px 2px gray);
    filter: drop-shadow(2px 2px 2px gray);
  }

  #upper-section {
    margin: 0 0 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  #middle-section {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .sides {
    display: flex;
    align-items: center;
  }

  #middle {
    width: 52%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  bottom-section {
    width: 100%;
    margin: 0;
  }

  #up, #left, #right, #down {
    visibility: hidden;
  }
